.board
    display: flex
    flex-wrap: wrap
    width: calc(5em * 7)
    height: calc(5em * 6)
    background-color: blue
    
.box
    width: 5em
    height: 5em
    box-sizing: border-box
    display: flex
    justify-content: center
    align-items: center

.circle
    width: 90%
    height: 90%
    background-color: white
    border-radius: 50px
   
    
    